.error-indicator {
    margin: 40px auto;
    text-align: center;
}
.error-indicator img {
    margin-bottom: 10px;
}
.error-indicator .boom {
    font-size: 30px;
    font-weight: bold;
    color: #953143;
}
.error-indicator span {
    display: block;
    text-align: center;
}
