.random-planet {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.125);
    margin: 30px 0;
}
.random-planet .planet-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.planet-description h4 {
    margin-bottom: 10px;
}
.random-planet .planet-description .list-group-item {
    padding: 0.40rem 1rem;
}
.random-planet .planet-description {
    margin-left: 1.25rem;
}
