.item-list {
    margin-bottom: 30px;
}
.list-group-item {
    border: 1px solid rgba(0,0,0,0.125);
}
.item-list .list-group-item {
    cursor: pointer;
    border-left: 4px solid rgba(0,0,0,0.125);
}
.item-list .list-group-item:hover {
    border-left-color: #444;
}